<%- include('partials/header') -%>

<body>
    <div class="container">
        <h1>Compose</h1>

        <form action="/compose" method="post">
            <div class="form-group">
                <div class="input-field">
                    <label for="postTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Post Title" autofocus>
                </div>
                <div class="input-field">
                    <label for="postContent" class="form-label">Post (<span id="char-counter">0</span>)</label>
                    <textarea class="form-control" id="postContent" name="postContent"" rows="3" placeholder="Enter post content here."></textarea>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Publish</button>
        </form>

    </div>

    <script src="/js/compose.js"></script>

<%- include('partials/footer') -%>